<a href="https://colab.research.google.com/github/moulendu7/Python-CS-2001/blob/main/py_not_pi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

swap the variable

In [ ]:
a=10
b=20
print(f'Previously a:{a},b:{b}')
a,b = b,a;
print(a,b)

Previously a:10,b:20
20 10

#typecasting

hulk's strength is recorded as a string input 1000 convert it into integer and increse it by 200.

In [ ]:
hulk = "1000"
inth = int(hulk)
new = inth + 200
print(new)

1200

thor's hammer weight is 5000 in integer but you need to calculate gravitational force which is required as a float value;

In [ ]:
hammer = 5000
f = float(5000*9.8)
print(f)

49000.0

4.loki input in seconds as a string 3600 convert it into integer and then into hours

In [ ]:
l = "3600"
lint = int(l)
hours = (lint/(3600))
print(int(hours))

1

iron man recorded 7 hits out of 10 shots both in integer convert them into float and calculate the accuracy %

In [ ]:
hits = 7
shots = 10
h = float(hits)
s = float(shots)
accuracy = (h/s *100)
print(f"reuqired accuracy {accuracy:.2f}%") # f is used here as formating inside the quotes..

reuqired accuracy 70.00%

#object referencing

python variables hold references to objects, not the actual objects themselve

In [ ]:
a=[1,2,3]
b=a
print("a:",a)
print("b:",b)
b.append(4)
print("a:",a)
print(f"b: {b}");

a: [1, 2, 3]
b: [1, 2, 3]
a: [1, 2, 3, 4]
b: [1, 2, 3, 4]

reassigning a variable does not affect unless explicitly updated

In [ ]:
a=[1,2,3]
b=a
print(f"b: before {b}")
b=[4,5,6]
print("a:",a)
print("b:",b)

b: before [1, 2, 3]
a: [1, 2, 3]
b: [4, 5, 6]

In [ ]:
sheild = ["vibranium", "round"]
copy_sheild = sheild
print("Original sheild is :",sheild)
print("Wolverine changes the sheild materials")
copy_sheild[0]= "adamantium"# explicitly changed
print(f"new sheild is : {sheild}")

Original sheild is : ['vibranium', 'round']
Wolverine changes the sheild materials
new sheild is : ['adamantium', 'round']

to remove a data type like :
a =10
del a ##deleting a variable;

In [ ]:
a = 10
print(a)
del a
# print (a)

10

#datatype

1. Numeric-[int,float,complex]
2. text-[str]
3. boolean-[true or false]
4. sequences-[list=[1,2,3],tuple=(1,2,3),range=[1:3]]
5. Sets - [set,frozenset]
6. binary-[bytes,bytearray,memoryview]
7. Mapping - [dictionary]
8. none

In [ ]:
x=50
x=60.5
x="HELLO"
x=["Mr.","Moulendu","Khanra"]
x= ("Mr.","Moulendu","Khanra")
print(x)

('Mr.', 'Moulendu', 'Khanra')

1. int-use for categorical encoding,class id,one-hot indexing and token id's in NLP(natural language processor)
2. float-represent real value like features,prediction,gradients and weights.
3. complex-used in signal processing, audio image analysis,spectral method for exm-FFT in EEG.
4. float32/float64-standard in deep learning framework like PyTorch,Tensorflowto balance precision and memory usage.
5. int32/int64-useful for labels,indexing arrays/Tensors and specifying seq.length in NLP.

In [ ]:
power_levels = [86,92.5,75,88.0,91]
if power_levels:
  avg_power=round(sum(power_levels)/len(power_levels),2)
else:
    avg_power=0
print(avg_power)

86.5

"""
In Python, variables declared inside an if, else, or for block
are not limited in scope to that block.

Unlike languages such as C, C++, or Java where {} defines a new scope,
in Python only functions, classes, and modules create a new scope.

Control structures like if, else, for, while, try do not create
a separate local scope.
"""

#INTERVIEW TIP

Always validate your input data before exucution of your program.

In [ ]:
import statistics
power_level = {
    "Ironman":100,
    "Hulk":200
}
avg_power=statistics.mean(power_level.values())
print(avg_power)

150

#Interview tip
 Dictionary vs list
1. dictionary is best when data can be mapped whereas list works best when order or sequence matters .
2. Efficiency : be ready to compute averages in one pass using bultin function or libraries.
3. keep the time complexity in mind.

Write a python program to find the smallest and largest number in a list.

In [ ]:
num = [10,2,8,4]
max = min = num[0]
for i in num :
  if max<i:
    max=i
  if min>i:
    min=i
print(min,max)

2 10

rotate a list to the right by k steps

In [ ]:
num = [10,2,8,4]
k=2
n = len(num)
k=k%len(num)
rotated = num[-k : ] + num[ : -k]
# rotated = num[n-k:  ]+num[ :n-k ]
print(rotated)

[8, 4, 10, 2]

String are the arrays of byte representing unicodes characters, no seperate character datatype, no separate characters datatype. the string can be created by double,single,triple quote. accees individual character using indexing, starting at 0. strings are immutable. a string can be repeated by multiplying it by an integer. function that is used for string is str.

In [ ]:
s1 = "this is a example of a string"

print(s1)

this is a example of a string

In [ ]:
s2 = "this "+"is "+"also "+"an "+"example "+"of "+"a "+'''string '''
print(s2)

this is also an example of a string

In [ ]:
s3 = "This is a \
    ...single line"
print(s3)

This is a     ...single line

In [ ]:
s4 = "red hulk"
print(s4 * 3)

red hulkred hulkred hulk

In [ ]:
s5 = "#this is not a comment XD :)"
print(s5)
print("the length of the string is :",len(s5))
print("the first char is : ",s5[0])
print("the last char is : ",s5[-1])
print("in python 0 and -0 are same",s5[-0])
# this concept is known as slicing. the application of slicing is dividing the data set into test and train subsets.
print("the substring of s5 is ",s5[:4])
print("the substring of s5 is:",s5[2:4]) #[2,4)
# s5[0]="b" #hence it is inmutatable
print(s5)

#this is not a comment XD :)
the length of the string is : 28
the first char is :  #
the last char is :  )
in python 0 and -0 are same #
the substring of s5 is  #thi
the substring of s5 is: hi
#this is not a comment XD :)

In [ ]:
name="sam wilson"
for ch in name:
    print(ch,end='*\n')

s*
a*
m*
 *
w*
i*
l*
s*
o*
n*

In [ ]:
s2 = "loop"
for i in range(len(s2)):
  print(-i,s2[-i])

0 l
-1 p
-2 o
-3 o

In [ ]:
s = "Ironman"
# reverse a string
print(s[::-1])
print(s[::1])
print(s[::-2])
print(s[::2])
print(s[4:6:2])
print(s[-4:-6:2])

namnorI
Ironman
nmoI
Iomn
m

#ASCII code
In early 1960 a standard was published called american standard code for information interchange.It specify the mapping of binary values to character.
It uses 7 bits to represent character from 0 to 127.
a-z (97-122)
A-Z (65-90)

The ascii character set is limited and not designed to handle characters from other language.
solution-
UNICODE -
The unicode standard is define more than 1 lakh characters.Python 3 uses unicode by default UTF-8. UNICODE strings allow global language support prefix:u.

use "ord()" for accessing ascii of any character

In [ ]:
s1 = "\u03C0"
print (s1)

π

In [ ]:
s2 = "\u00B2"
print(s2)

²

In [ ]:
s3 = "\u00B1"
s4 = "\u00B3"
print(s3)
print(s4)

±
³

#Skep characters

1.  \0 : NULL, ASCII value = 0
2. \a : BEL , ASCII value = 7;
3. \b : backspace , ASCII value = 8;
4. \t : Tab(Horizontal tab) ASCII value = 9;
5. \n : New line , ASCII value = 10;
6. \v : vertical tab , ASCII value = 11;
7. \f : Form feed (Newpage), ASCII value = 12;
8. \r : Carriage return , ASCII value = 13;

In [ ]:
print("Ironman\nNatasha")
print("Ironman\tNatasha")
print("Ironman\nNatasha")

Ironman
Natasha
Ironman	Natasha
Ironman
Natasha

In [ ]:
print("C:\\Avenger\\Data")
print("Hulk\a") #it will strigger a beep sound on supported terminal
print("Romanoff\vNatasha")

C:\Avenger\Data
Hulk
RomanoffNatasha

#Method of string

1. Lower and upper case

In [ ]:
review = "This Movie is AMAZING !"
print(review.lower())
print(review.upper()) # we can use these methods in NLP

this movie is amazing !
THIS MOVIE IS AMAZING !

2. Strip Method - It removes the special characters or whitespaces that are either trailing or leading. It does not remove middle special characters or whitespaces.
3. replace method : Helps to remove all

In [ ]:
tweet = "@AIROCKS@"
tweet1 = "AIROCKS@"
tweet2= "AI@ROCKS"
print(tweet.strip("@"))
print(tweet1.strip("@"))
print(tweet2.strip("@"))
print(tweet.replace("@","XD "))

AIROCKS
AIROCKS
AI@ROCKS
XD AIROCKSXD

4. Split function

In [ ]:
review = "This movie is amazing"
token = review.split()
print(token)
print("-".join(token))

['This', 'movie', 'is', 'amazing']
This-movie-is-amazing

Find function

In [ ]:
text = "ths is a python python class"
print(text.find("python"))
print(text.find("p",7,11))
print(text.find("this"))
print(text.find("q"))
# print(text.index("q"))

9
9
-1
-1

#Count function

In [ ]:
text = "this is a python python class"
print(text.count("python"))
print(text.count("python",7,25))

2
2

In [ ]:
word = ["how","are","you"]
for i in word:
  print(i)

how
are
you

startswith() func

In [ ]:
txt = "Hello, I am Friday"
print(txt.startswith("Hello"))
print(txt.startswith("Hello",0,10))
print(txt.endswith(('Friday','Moulendu')))

True
True
True

In [ ]:
avg = "Thor Captain America"
print("Thor"in avg)
print("Loki"not in avg)
if "Loki" not in avg:
  print("No,Loki is not present")
if "Thor" in avg:
  print("Yes")

True
True
No,Loki is not present
Yes

given a sentence Loki tried to trick avengers check if loki is in it. if yes print enemy detected otherwise all clear.

we define the usage of capitals in a word to be right when one of follwing cases holds. all letters in this word are capitals like USA. all letters in this words are not captials like leetcode.
given a string of word if usage of capital in it is right

write codes with comments

In [ ]:
words = ['USA','leetocode','Flag','FlaG']
for i in words :
  c= i
  if i.upper()==c  :
    print("Upper")
  elif i.lower()==c  :
    print("lower")
  else :
    print("NUlla")

Upper
lower
NUlla
NUlla

In [ ]:
word = ["How","are","you"]
for i in word :
  print(i.strip(' '),end=' ')

How are you

#boolean

In [ ]:
print(type(True))
a,b=10,20
print(a and b)
print(a or b)
print(10>9 and 10>7)
print(5>3 or 2>4)
print(not 5>3)
print(bool([]))
print(bool(" "))
print(a^b)
a= (a^b)
b = a^b
a = a^b
print(a,b)
x = [1,2,3]
print(any(x)) # checks whether iterable or not
x = 5
# print(any(x)) # not iterable
x= [1,2,3,"i am Moulendu"]
print(all(x))
x[0]=0
print(all(x)) # since one is 0 so it return false as one value become false

<class 'bool'>
20
10
True
True
False
False
True
30
20 10
True
False
False

In [ ]:
a = [1,2,3]
print(all(m for m in a ))
a[2]=0
print(all(m for m in a))
a= [30,20,40]
print(all(m>=10 for m in a))
print()

True
False
True

#5 applications of XOR
1.Bitwise Swapping (without a temporary variable):

XOR can swap two numbers without using extra space.

2.Finding the Odd Occurring Element in an Array:

If every element appears twice except one, XOR of all elements gives the unique one (because x ^ x = 0 and x ^ 0 = x).

3.Checksums / Error Detection:

Used in simple error detection (parity bits, LRC, CRC) because XOR highlights bit changes.

4.Encryption / Decryption:

XOR with a key is used in many stream ciphers and lightweight encryption (since cipher = data ^ key and data = cipher ^ key).

5.Detecting Bit Differences:

XOR shows which bits differ between two numbers (1 where bits differ, 0 where same). Useful in Hamming distance and image processing.

#arithematic operator

In [ ]:
print(10+9)
print(9-10)
print(10*9)
print(10/9)
print(10//9) #floor division
print(10**9) #10^9 to the power
print(2**3**2) #right associative
print(-10//3) # "//" python follow division differs from C++ in py we get -4 where as in cpp we get -3

19
-1
90
1.1111111111111112
1
1000000000
512
-4

#Assignment Operators

In [ ]:
x =5
x *=2+3 #precedence of *= is less than plus operator
print(x)
y =10
y//=3
print(y)
print(10%3)
t= 7
t**=3
print(t)

25
3
1
343

why assignment introduced
1. code consistent and readability
2. efficieny (in place updation) : In python operators like += try to update objects in place

In [ ]:
a = [1,2]
v =a
a+=[3]
print(a)
a=[1,2]
b=a
a=a+[3]
print(b) # output is 1,2 as new list was created

[1, 2, 3]
[1, 2]

In [ ]:
x = 5
x&=3
print(x)
x=5
x|=3
print(x)
x=5
print(x>>1)
print(x<<1)
x=5
print(x:=3) # same as x=3

1
7
2
10
3

#comparision operator

In [ ]:
x=10
y =20
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

In [ ]:
print(10==10.0)
print("10"==10)
print(True ==1)
print(True+True)

True
False
True
2

#logical operators

In [ ]:
print(0 and 5)
print(0 or 5)
print(not 0)
print([]or "hi")
print([]and"hi")
# a and b does not eevaluate if a is false (short circuiting)

0
5
True
hi
[]

#identity operators

In [ ]:
a = [1,2,3]
print(3 in a)
print("a" in "banana")
print("nana"in 'banana')

True
True
True

#bitwise operators

In [ ]:
print(5 & 3)
print(5 ^ 3)
print(5|3)
print(~5)
print(-10//4/3)
print("APPLE"<"apple")
print(True==2-3)

1
6
7
-6
-1.0
True
False

#LIST

In [ ]:

l1 = [1,2,3,4]
l1 = l1+[5]
print(l1)
l1.append(6)
print(l1)
print(l1[-1])
print(l1[1:4])
print(l1[::-1])
print(l1[0:5:1])
list_infinity=["mind","soul","time","power","reality"]
if "soul"in list_infinity:
  print("yes soul exists")
else:
  print ("Not present ")
list_infinity[1] = "null"
print(list_infinity)
list_infinity[1:3]= ["stark","thanos"]
print(list_infinity)
list_infinity.insert(2,"pepper")
print(list_infinity)
#list_infinity.remove(1)

# list_infinity.remove("soul")

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
6
[2, 3, 4]
[6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
yes soul exists
['mind', 'null', 'time', 'power', 'reality']
['mind', 'stark', 'thanos', 'power', 'reality']
['mind', 'stark', 'pepper', 'thanos', 'power', 'reality']

In [ ]:

l1=[1,2,3,]
l2 = [4,5,6]
l1.extend(l2)
print(l1)
print(l2)
tup= (69,70,71)
l1.extend(tup)
print (l1)
l1.remove(69)

print(l1)

l1.pop(7)
print(l1)
# see del, .clear()

[1, 2, 3, 4, 5, 6]
[4, 5, 6]
[1, 2, 3, 4, 5, 6, 69, 70, 71]
[1, 2, 3, 4, 5, 6, 70, 71]
[1, 2, 3, 4, 5, 6, 70]

**List-for**

In [ ]:
names = ['Moulendu','Jared','Jarvis','Friday']
new = [x for x in names]#store in a new variable
#list comprehension(only for for keyword)
#[exp for item in list if condition is true] //(SYNTAX)
print(new)
square=[]
[square.append(i*i) for i in range(1,11)]
print(square)

['Moulendu', 'Jared', 'Jarvis', 'Friday']
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

1.copy

2.basic methods of list

# **SORTING**

For efficient searching , and as we know traversing is the converse operation of searching

linear sort = n^2

index based is the fastest

bubble sort- halke wale aage...baaki peeche = [O(n^2)]

selection sort- select an index and compare then go on = [O(n^2)] //better than bubble


insertion sort - chota range ka data - go for insertion

--> divide and conquer

1.merge sort - divide , sort , merge - drawback - extra space leta haii...so use quick sort

2.quick sort - ek pivot element hoga uske aage peeche hi sorting hoti hai- strictly increasing ya non increasing pai ye use krna bekar hai ... n^2 ho jayega complexity

# MULTI DIMENSIONAL LIST

In [ ]:
no=[[1,2,3],[4,5,6]] # stored in memory tape #row major hai ye
print(no[0][1])
# no=[[1,2,3],
 # [4,5,6]]
 # constructor= list(1,2,3)

2

#Input

In [ ]:
name=input()
print(type(name))
num=int(input('enter the no:'))
print(type(num))

moulendu
<class 'str'>
enter the no:4
<class 'int'>

In [ ]:
num=[]
n=int(input('size:'))
for i in range(n):
  arr=int(input())
  num.append(arr)
print(num)

size:5
2
2
2
2
2
[2, 2, 2, 2, 2]

3

# LIST COMPREHENSION ARRAY INPUT

In [ ]:
num=[int(x) for x in input('enter a value: ').split()]
print(num)
n=int(input('size: '))
num=[int(x) for x in range(n,0,-1)]
print(num)

enter a value: 0
[0]
size: 2
[2, 1]

**gauss summation: when right angle distribution use sum property**

#Dictionary

In [ ]:
stud_name = {
    1:"Swati",
    2:"Pankaj",
    3:"Nitika"
}
print (type(stud_name),len(stud_name))

<class 'dict'> 3

In [ ]:
car = {"brand":"Audi","model":"q2025"}
print(car['brand'])
car.get('brand')
car.get('brand',0)
car.get('bran',0)
car.get('bran','N/A')
car_keys=car.keys()
car['fuel']='petrol'
print(car_keys)
car_values=car.values()
print(car_values)
car['year']=2025
print(car.values())
car_items =car.items()
print(car_items)
for (k,v)in car.items():
  print(k,v)
car.update({'model':'q2024'})
car.update({'type':"5-seater"})
print(car)

Audi
dict_keys(['brand', 'model', 'fuel'])
dict_values(['Audi', 'q2025', 'petrol'])
dict_values(['Audi', 'q2025', 'petrol', 2025])
dict_items([('brand', 'Audi'), ('model', 'q2025'), ('fuel', 'petrol'), ('year', 2025)])
brand Audi
model q2025
fuel petrol
year 2025
{'brand': 'Audi', 'model': 'q2024', 'fuel': 'petrol', 'year': 2025, 'type': '5-seater'}

In [ ]:
students = ['boy','boy','girl','boy']
count ={}
for i in students:
   count[i]=count.get(i,0)+1

print(count)

{'boy': 3, 'girl': 1}

#Nested Dictionary

In [ ]:
student_sec_c = {"s1":{ "Name": "Moulendu","Year":2024,"Dept":"ECE"},"s2":{"Name":"Jared","Year": 2024,"ept":"CSE"}}
for(k,v)in student_sec_c.items():
  for(k1,v1) in v.items():
    print(k1,v1)

In [ ]:
avengers = {'name':'Iron_man','power':'suit','age':55}
avengers_copy = avengers.copy()
print(avengers_copy)
avengers_copy.clear()
print('1.copy & 2.clear',avengers_copy)
print("3.original",avengers)
print('4.keys:',avengers.keys())
print('5.values:',avengers.values())
popped_item = avengers.pop('age')
print("6.pop()",popped_item)
print('Remaining dict : ',avengers)
last_item = avengers.popitem()
print('7.Popitem',last_item)
values = avengers.setdefault("Year",2024)
print('9.Items',avengers.items())
avengers.update({ 'age':56})
print(avengers)

{'name': 'Iron_man', 'power': 'suit', 'age': 55}
1.copy & 2.clear {}
3.original {'name': 'Iron_man', 'power': 'suit', 'age': 55}
4.keys: dict_keys(['name', 'power', 'age'])
5.values: dict_values(['Iron_man', 'suit', 55])
6.pop() 55
Remaining dict :  {'name': 'Iron_man', 'power': 'suit'}
7.Popitem ('power', 'suit')
9.Items dict_items([('name', 'Iron_man'), ('Year', 2024)])
{'name': 'Iron_man', 'Year': 2024, 'age': 56}

In [ ]:
keys = ['Thor','Hulk']
new_team = dict.fromkeys(keys,'avengers')
print("8.fromkeys()",new_team)

items,update,get,setdefault

you have a list of fruits with the price of each friuit apple:200 , avagcadro:700, banana:100,strawberry :900, you need add/find 2 items that add up to your budget = 900

In [ ]:
budget=900
possible_items=[]
prices={200:'apple',700:'avogadro',100:'banana',900:'strawberry',0:'chilli'}
for k,v in prices.items():
    item=[]
    if prices.get(budget-k,0):
        item+=[prices[k],prices[budget-k]]
        item.sort()
    else:
        continue
    if item and item not in possible_items:
        possible_items.append(item)
print(possible_items)

[['apple', 'avogadro'], ['avogadro', 'apple'], ['strawberry', 'chilli'], ['chilli', 'strawberry']]

In [ ]:
# seen = {

# }
# for k,v in fruits.item()
#   diff = target-v
#   if diff in seen :
#     print(f"Keys:{seen[diff]}and {k}")
#     print(f'values : {diff}+{v}={target}')
#     seen[v]=k
# else :
#   print("no match")

a telecom company provides a list of a data pack prices a customer has a fixed budget and the companys system need to find 2 packs whose combined cost exactly matches the customers budget. if such a pair exist the system should return there keys and prices if no such combo exist it should display a msg no valid combination found in the list.

you are managing a telecom customer portal when a new user registers their username must be unique if a user enter the same name it should return "Username already exists".

# LOOPHOLES IN DICTIONARY


1.   Updates the original value when same key is used
2.   Memory usage increased
3.   It is unordered
4.   Security??
5.   Mutable

#After mid sem

#Functions

In [ ]:
def draw_circle(r):
  print(r)
draw_circle(100)

100

In [ ]:
pi = 3.14
def area_of_circle(r):
  return r*r*pi
a = area_of_circle(3)
print(f'area of the circle : {a}')

area of the circle : 28.26

In [ ]:
# pass keyword
a = 33
b = 200

if b > a:
  pass

In [ ]:
def isprime(x1):
  if x1==0 or x1 ==1 :
    return False
  elif x1==2 or x1==3:
    return True
  elif x1%2==0 :
    return False
  f =1
  for i in range(2,x1):
     if x1%i==0 :
        f=0
     return bool(f)
number = input()
if number.isdigit():
  number = int(number)
else : print("Invalid input")
print(f'isprime {number} : {isprime(number)}')

2
isprime 2 : True

In [ ]:
a = float(input())
b = float(input())
def calculation ( a,b):
   return a+b,a-b,a*b,a/b
add,sub,mul,div = calculation(a,b)
print(add,sub,mul,round(div,2))

8
9
17.0 -1.0 72.0 0.89

1. write a function that take string as a input and return uppercase,lowercase,title
2. Write a function email validator
3. passoword checker
4. write a function calculating simple interest ,compound interest
5.

In [ ]:
def transform (s):
  return s.upper(),s.lower(),s.title()
a=input()
print(transform(a))

moulendu
('MOULENDU', 'moulendu', 'Moulendu')

In [ ]:
def email_validator(s):
  if(s[0]=='@'or s[-1]=='@' or s[0]=='.'or s[-1]=='.'):
    return False
  else:
    atrate = s.count('@')
    dot = s.count('.')
    if(atrate >0 or dot >0):
      return False
  return True
email=input()
print('valid',email_validator(email))

moulenduk@gmail.com
valid False

In [ ]:
#*args and **kwargs <- keyword argument for ordered like dict :)
def my_family (*args):
  print("The youngest child is"+args[1])
  print(type(args))
  print('first argument :',args[0])
my_family('amit','shiva','avantika')

The youngest child isshiva
<class 'tuple'>
first argument : amit

In [ ]:
def sec_D (greeting,*names):
  for i in names :
    print(f'{greeting} {i}')
sec_D('hello','a','b','c','d')

hello a
hello b
hello c
hello d

calculate your total marks 5 subj 20,30,15,25,26

In [ ]:
def total(*marks):
  tot = 0
  maxi = 0
  mini =30
  for i in marks :
    if maxi<i : maxi = i
    if mini >i : mini =i
    tot+=i
  return tot,mini,maxi
print(f' {total(20,30,15,25,26)}')

 (116, 15, 30)

In [ ]:
def myfam(**child):
  print("type",type(child))
  print("name:",child["name"])
  print("age :",child['age'])
myfam (name = "Moulendu",age=19,city = 'kolkata')

type <class 'dict'>
name: Moulendu
age : 19

In [ ]:
def my_fun(title,*args,**kwargs):
  print("title",title)
  print('positional args',args)
  print("keyword args",kwargs)


my_fun("Userinfo","Moulendu","UserA",age=20,city='kolkata')

title Userinfo
positional args ('Moulendu', 'UserA')
keyword args {'age': 20, 'city': 'kolkata'}

In [ ]:
def my_fun(a,b,c):
  return a+b+c
num =[1,2,3]
result = my_fun(*num)
print(result)

6

In [ ]:
def my_details(fname,lname):
  print("hello",fname,lname)
person = {"fname":"moulendu",'lname':'khanra'}
my_details(**person)

hello moulendu khanra

create a function student_profile with keyword argument that prints the format msg.Amit is 22 yr old and studying btech

In [ ]:
def student(name,age,course):
  print(f'{name} is {age} years old and studying {course}')
student_profile={
    "name":"Amit", "age":22, "course" : "Btech"
}
student(**student_profile)

Amit is 22 years old and studying Btech

implement a function global median that maintains a global list of numbers and return the current median

In [ ]:
num =[]
def global_median(n):
  global num
  num.append(n)

  n = len(num)
  mid = n//2
  if n%2==0:
    return (num[mid-1]+num[mid])/2
  else :
    return num[mid]
print(global_median(2))

2

In [ ]:
num = 1
def modify ():
  # num=1
  num = num+1
  print(num)
modify()
print(num)

UnboundLocalError: cannot access local variable 'num' where it is not associated with a value

In [ ]:
import time
num = list(range(100))
target = 99
start= time.time()
print(target in num)
print("time diff:",time.time()-start)

True
time diff: 0.00018262863159179688
True
0.00012755393981933594

#Set

In [ ]:
a = {1,2}
b = {3,4}
print(a|b)#a.union(b)
print(a & b)#a.intersection(b)
print(a-b) #symmetric difference
print(a.issuperset(b))
print(a.issubset(b))

{1, 2, 3, 4}
set()
{1, 2}
False
False

In [ ]:
s=set(["10",10])
print(s)

{'10', 10}

In [ ]:
x=set("hello")
print(x)

{'h', 'o', 'l', 'e'}

In [ ]:
def check(item,basket):
  basket.add(item)
  return basket
b={"apple","banana"}
print(check("banana",b))
print(check("orange",b)) # mutable

{'apple', 'banana'}
{'orange', 'apple', 'banana'}

In [ ]:
def check(num):
    a = set(range(len(num) + 1))
    num = set(num)
    return a - num

print(check([0,1,2,3,5]))

{4}

In [ ]:
crush1={'coding','kdrama','coffee'}
crush2={'coffee','gym','travel'}